body {
    background-color: rgb(252, 248, 232);
}

.container-fluid {
    font-family: "Asap Condensed", sans-serif;
}

.container {
    border: 10px solid rgb(220, 238, 221);
    border-radius: 20px;
    border-style: double;
    background-color: rgb(255, 253, 246);
    color: rgb(101, 134, 104);
    margin-top: 120px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-fluid .row {
    flex-wrap: nowrap;
}

.container-fluid .row .col-4 {
    width: 145px;
    padding-top: 13px;
    font-size: 20px;
    transition: all 150ms ease-in-out;
}

.container-fluid .row .col-4 i {
    font-size: 30px;
    padding-top: 6px;
}

#main-icon {
    font-size: 150px;
    padding-top: 30px;
}

.current-weather {
    left: -150px;
    text-align: center;
}

.highest-temp {
    font-size: 45px;
    left: 470px;
    border-bottom: 3.5px double rgb(183, 208, 185);
}

.lowest-temp {
    font-size: 30px;
    left: 480px;
}

.highest-temp,
.lowest-temp {
    bottom: 200px;
}

.current-stats {
    left: 650px;
    bottom: 320px;
    text-align: left;
    width: fit-content;
    line-height: 40px;
}

.github-link {
    position: relative;
    bottom: 279px;
    left: 640px
}

.c-f {
    color: rgb(101, 134, 104);
    bottom: 260px;
    font-size: 15px;
    right: 130px;
    border: double;
    border-radius: 60px;
    border-color: rgb(136, 162, 138);
    transition: all 150ms ease-in-out;
}

.c-f:hover {
    background-color: rgb(236, 179, 144);
    color: #fff;
    border: double;
}

.location {
    color: rgb(101, 134, 104);
    bottom: 260px;
    font-size: 15px;
    right: -215px;
    border: double;
    border-radius: 60px;
    border-color: rgb(136, 162, 138);
    transition: all 150ms ease-in-out;
}

.location:hover {
    background-color: rgb(236, 179, 144);
    color: #fff;
    border: double;
}

.col-4:hover {
    color: rgb(236, 179, 144);
}

.search-bar {
    bottom: 290px;
    left: 635px;
    width: fit-content;
}

.c-f,
.location,
.current-stats,
.highest-temp,
.lowest-temp,
.current-weather,
.search-bar {
    position: relative;
}

.search-bar {
    border-radius: 20px;
}

h1 {
    font-size: 25px;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    margin-bottom: 0px;
}